.main-wrapper-simple {
  width: 100%;
  flex: 0 1 auto;
  height: auto;
  overflow: scroll;
  margin: 0 auto 1rem;
}

.main-wrapper {
  width: 100%;
  padding: 0 1rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: black;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.image {
  max-width: 12rem;
  width: 100%;
  flex: 0 1 auto;
  height: auto;
  display: block;
}

.btn-wrapper {
  width: 100%;
  max-width: 6.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
}

.plus-minus {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}
.button {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  cursor: pointer;
  color: black;
}
.button:not(:last-child) {
  margin-right: 0.5rem;
}

.desc-info {
  width: 100%;
  flex: 0 1 auto;
}
.name {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.price {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.quantity {
  font-size: 2rem;
}

.total {
  font-size: 2.4rem;
  color: black;
  margin: 0 0 1rem;
}

.delete-animation-exit {
  opacity: 1;
}
.delete-animation-exit-active {
  opacity: 0;
  transition: all 0.3s ease-in;
}

@media (max-width: 75em) {
  .total {
    font-size: 2rem;
  }
}

@media (max-width: 25em) {
  .wrapper {
    padding: 0.5rem 1rem 0.5rem 0;
    border-radius: 1rem;
    overflow: hidden;
  }

  .name {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  .price {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .quantity {
    font-size: 1.8rem;
  }
}
