.cart-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.cart {
  height: 100%;
  width: 50rem;
  background-color: rgb(194, 194, 194);
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem 3.5rem;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.success-wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  z-index: 20;
}
.icon {
  width: 15rem;
  height: 15rem;
}
.success-text {
  text-align: center;
  font-size: 2rem;
  color: black;
}

.button-simple {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.button-simple:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.button-simple:active {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}

.cartOpened {
  -webkit-animation: OpenCartAnimation 0.3s ease-in;
  animation: OpenCartAnimation 0.3s ease-in;
}
.cartClosed {
  -webkit-animation: CloseCartAnimation 0.3s ease-out;
  animation: CloseCartAnimation 0.3s ease-out;
}

@-webkit-keyframes OpenCartAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes OpenCartAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes CloseCartAnimation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes CloseCartAnimation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
