.main-wrapper {
  width: 90%;
  margin: auto;
  height: auto;
}
.main-wrapper-big {
  width: 100%;
  margin: auto;
  height: 40vh;
  overflow: scroll;
  margin-bottom: 2rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background-color: white;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: black;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.image {
  width: 12rem;
  height: auto;
  display: block;
}

.btn-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-max-content;
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  -ms-grid-columns: 6rem;
  grid-template-columns: 6.5rem;
  grid-gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.plus-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.button {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  cursor: pointer;
  color: black;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.button:active {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}

.desc-info {
  width: 17rem;
}
.name {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1rem;
}
.price {
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 1rem;
}
.quantity {
  font-size: 2rem;
  margin: 0;
}

.total {
  font-size: 2.4rem;
  color: black;
  margin: 0 0 1rem;
}

.delete-animation-exit {
  opacity: 1;
}
.delete-animation-exit-active {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
