.sort {
  padding: 0 2rem;
  margin-top: 2rem;
}

.main-wrapper {
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

.text {
  font-size: 2rem;
  text-transform: uppercase;
  margin-right: 1rem;
}

.select {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.select:not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 25em) {
  .text {
    font-size: 1.8rem;
    margin-right: 0.5rem;
  }

  .select {
    font-size: 1.2rem;
    padding: 0 0.3rem;
  }

  .select:not(:last-child) {
    margin-right: 0.5rem;
  }
}
