.main-wrapper {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 2rem 1.5rem;
  background: url("../../assets/bg1.jpg") center center;
  background-size: cover;
  background-color: rgb(34, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  max-width: 43rem;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  justify-items: center;
}

.heading-primary {
  color: white;
  font-size: 6rem;
  line-height: 6.6rem;
  margin-bottom: 1rem;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: default;
  animation: moveInLeft 1s ease-out;
}
.heading-secondary {
  color: white;
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 0;
  margin-bottom: 3rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: default;
  animation: moveInRight 1s ease-out;
}
.heading-tertiary {
  color: white;
  font-size: 2rem;
  line-height: 2.6rem;
  margin-top: 5rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: default;
  animation: moveInUp 1s ease-out;
}

@media (max-width: 50em) {
  .heading-primary {
    font-size: 4rem;
    line-height: 4.6rem;
    margin-bottom: 0.5rem;
  }
  .heading-secondary {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .heading-tertiary {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 2.5rem;
    text-align: center;
  }

  .form-wrapper {
    max-width: 35rem;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
