.main-wrapper {
  color: white;
  background-image: url("../../assets/bg1.jpg");
  background-size: 100%;
  background-position: top;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2.5rem 0;
}

.right-side {
  width: 27rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logout {
  cursor: pointer;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 1rem 3rem;
  margin-right: 5rem;
  border-radius: 5rem;
  border: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.logout:hover {
  background-color: black;
  color: white;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}
.logout:active {
  background-color: black;
  color: white;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}
