.main-wrapper {
  color: white;
  background-image: url("../../assets/bg1.jpg");
  background-size: 100%;
  background-position: top;
  background-color: rgb(34, 33, 33);
  min-height: 100vh;
  height: auto;
  position: relative;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2.5rem 3rem;
  position: relative;
}

.right-side {
  width: 100%;
  max-width: 22rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 2rem;
}

.logout {
  cursor: pointer;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 1rem 3rem;
  border-radius: 5rem;
  border: none;
  transition: all 0.3s;
}
.logout:hover {
  background-color: black;
  color: white;
}
.logout:active {
  background-color: black;
  color: white;
}

@media (max-width: 75em) {
  .main-nav {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 50em) {
  .right-side {
    max-width: 15rem;
  }

  .logout {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
  }
}
