.form {
  width: 100%;
  text-align: center;
  animation: moveInBottom 0.75s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.form input {
  width: 40rem;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 5rem;
  outline: none;
  border: 2px solid black;
}
.form input.invalid {
  border-color: red;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}
.left-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.button-simple {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}
.button-simple:hover {
  transform: translateY(-3px);
}
.button-simple:active {
  transform: translateY(-1px);
}
.button-simple:disabled {
  transform: none;
  cursor: default;
}

.para-invalid-visible {
  font-size: 1.5rem;
  color: red;
  margin: 0;
  margin-bottom: 1rem;
}
.para-invalid-invisible {
  visibility: hidden;
  font-size: 1.5rem;
  color: red;
  margin: 0;
  margin-bottom: 1rem;
}

.error {
  margin: 0;
  font-size: 1.7rem;
  color: red;
}
.error-btn {
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 0;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
  transition: all 0.2s
}
.error-btn:hover {
  transform: translateY(-2px)
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
