.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  grid-gap: 4rem;
  padding: 3rem 5rem;
}
.error {
  font-size: 4rem;
  text-align: center;
}

.show-products-enter {
  opacity: 0;
}
.show-products-enter-active {
  opacity: 1;
  transition: all 0.2s;
}
.show-products-exit {
  opacity: 1;
}
.show-products-exit-active {
  opacity: 0;
  transition: all 0.2s;
}
