.main-content {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  justify-content: center;
  grid-gap: 3rem;
  padding: 3rem;
}
.error {
  font-size: 4rem;
  text-align: center;
}

.show-products-enter {
  opacity: 0;
}
.show-products-enter-active {
  opacity: 1;
  transition: all 0.2s;
}
.show-products-exit {
  opacity: 1;
}
.show-products-exit-active {
  opacity: 0;
  transition: all 0.2s;
}

@media (max-width: 81.25em) {
  .main-content {
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

@media (max-width: 30em) {
  .main-content {
    grid-template-columns: minmax(15rem, 25rem);
    grid-template-rows: max-content;
  }
}
