@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
}
.lock {
  width: 100%;
  position: fixed;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}
