.nav {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 5rem;
  margin-left: 5rem;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  padding: 1rem;
  border-bottom: 3px solid transparent;
  text-align: center;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: white;
  height: 3px;
  width: 0;
  opacity: 0;
  transition: all 0.5s;
}
.nav-link:hover::after {
  width: 100%;
  opacity: 1;
}

.selected {
  border-bottom: 3px solid white;
  cursor: default;
}
