.nav-desktop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 5rem -webkit-max-content 5rem -webkit-max-content;
  -ms-grid-columns: max-content 5rem max-content 5rem max-content;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  grid-gap: 5rem;
  margin-left: 5rem;
}

.mobile-backdrop {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  z-index: 20;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.nav-link-desktop {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  padding: 1rem;
  border-bottom: 3px solid transparent;
  text-align: center;
  position: relative;
}
.nav-link-desktop::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: white;
  height: 3px;
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.nav-link-desktop:hover::after {
  width: 100%;
  opacity: 1;
}
.selected-desktop {
  border-bottom: 3px solid white;
  cursor: default;
}

.mobile-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  width: 30rem;
  padding: 2rem;
  background-color: rgb(194, 194, 194);
}

.nav-link-mobile {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: black;
  padding: 1rem;
  border-bottom: 3px solid transparent;
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
}
.nav-link-mobile::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: black;
  height: 3px;
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.nav-link-mobile:hover::after {
  width: 100%;
  opacity: 1;
}
.selected-mobile {
  border-bottom: 3px solid black;
  cursor: default;
}

.btn {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 3rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.navOpened {
  -webkit-animation: OpenNavAnimation 0.3s ease-in;
  animation: OpenNavAnimation 0.3s ease-in;
}
.navClosed {
  -webkit-animation: CloseNavAnimation 0.3s ease-out;
  animation: CloseNavAnimation 0.3s ease-out;
}

@-webkit-keyframes OpenNavAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes OpenNavAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes CloseNavAnimation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes CloseNavAnimation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
